.menu {
    display: flex;
    color: white;
    background-color: black;
    font-size: 20px;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
    border-style: groove;
    padding: 10px;
}
li:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
